body {
    font-family: "Trebuchet MS";
    font-size: 20px;
    line-height: 1.8;
    color: #f5f6f7;
    background-color: #333333;
}

p {font-size: 16px;}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin {margin-bottom: 45px;}

.bg-grey { 
    background-color: #b6b8bf; /* Grey */
    color: #ffffff;
}
.bg-grey a:hover{ 
    color: #5847ac;
}

.bg-lgrey { 
    background-color: #d4d4d4; /* White */
    color: #333333;
}
.bg-lgrey a:hover{ 
    color: #5847ac;
}

.bg-purple { 
    background-color: #5847ac; /* Purple */
    color: #b6b8bf;
}

.bg-dgrey { 
    background-color: #585858; /*  Dark Grey */
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    background-color: #d4d4d4;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #5847ac !important;
}